elpa/
/bookmarks
auto-save-list/
/recentf
/projectile-bookmarks.eld
anaconda-mode/
/.cache/
url
eshell/
meghanada/
/persp-confs/
var/
dopace.el
/secrets.el
eclipse.jdt.ls/
custom.el
dopace.pdf
dopace.tex
missfont.log
ltximg
test.el
*.swp~
/snippets/init
*.html
